/* grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
  
.grid-item {
    border-radius: 5px;
}

/* lists */

.list {
    width: 300px;
    border: 1px solid #ccc;
    padding: 0;
    list-style: none;
}

.list-item {
    position: relative;
    padding: 10px 40px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.list-item:hover .icons {
    display: block;
}

.createList {
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height:fit-content;
    background-color: #e9e9f8;
}

.list-button {
    width: "150px";
}

.instruction-input {
    width: "220px";
}

.suggestion {
    cursor: pointer;
}

.suggestion:hover {
    background-color: #ececec;
}

/* icons */

.icons {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightgray;
    cursor: pointer;
}

.icon {
    margin-left: 2px;
    color: #424242;
}

/* spinner */

.spinner {
    width: 12px;
    height: 12px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* tabs */

.tabs-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.tab span {
    visibility: hidden;
    opacity: 0;
    background-color: white;
}

.tab:hover span {
    visibility: visible;
    opacity: 1;
}

.active-tab {
    flex: 1;
    border-bottom: black solid 2px;
    text-align: center;
}

.active-tab span {
    visibility: hidden;
    opacity: 0;
}

.active-tab:hover span {
    visibility: visible;
    opacity: 1;
}

.tab a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab a:hover {
    background-color: #575757;
}
