body {
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}

a {
    cursor: pointer;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}
